*{
    margin: 0;
    padding: 0;
}

/*..........................head nav bar */
header{
    background: #ca041a;
    width: 100%;
    position: fixed;
}
.nav-header{
    text-align: center;
}
.nav-header li {
    display: inline;
    
}
.nav-header a {
    font-size: 25px;
    color: white;
    margin: 1%;
    padding: 5px 100px;
    text-decoration: none;

}

/* ..................................video */


.video-container{
    border: 5px solid #ca041a;
    height: 400px;
    width: 600px;
   display: block;
}
#video-one{
    border: 5px solid #ca041a;
    height: 400px;
    width: 600px;
    display: block;
    margin: 0 auto;
    background-size: cover;

}








/* .................................footer */
footer{
    background: #ca041a;
}
.social-media{
    text-align: center;
}
.social-media li {
    display: inline;
}
.social-media i {
    color: white;
    font-size: 20px;
    padding: 5px 100px;
    margin: 1%;

}