@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

/*..........................head nav bar */

.chanel-logo {
	overflow: hidden;
	padding-left: 2rem;
}

img{
	object-fit: contain;
	vertical-align: bottom;

}
.navbar-center{
	padding: 0 5%;

}

nav {
	background-color: #ca041a;
	padding: 1px;
	border-radius: 20px;
}


.nav-header li {
	display: inline-block;
	text-align: center;
}

.nav-header li a {
	color: #fafafa;
	font-size: 1.25rem;
	padding: 6rem;
	text-decoration: none;
	font-family: "Oxygen", sans-serif;
}


.nav-header li a:hover {
	color: #cccccc;
}


/* .................................hero image */

#banner-img{
	
	animation-name: zoom-in;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


@keyframes zoom-in {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
/* .................................What is chanels cause */
.main-title{
	color: #ca041a;
	font-size: 40px;
	text-align: center;
	padding: 20px;
}
.main-section{
	display: inline-block;
}
video{
	padding: 15px;
	width: 40%;
	float: left;
	text-align: center;
	overflow: hidden;
}
#right-text{
	font-size: 30px;
	padding: 15px;
	width: 50%;
	float: right;
	text-align: left;

}
/* .................................WHAT WE DO! */
.main-sub-section{
	text-align: center;
	padding: 15px;
}
.main-sub-section h1 {
	color: #ca041a;
	font-size: 60px;
	padding: 15px;
}


/* .................................footer */

footer {
	background-color: #ca041a;
}
.footer-center{
	padding: 0 5%;
}


.social-media {
	text-align: center;
}

.social-media li {
	display: inline;
}

.social-media i {
	color: #fafafa;
	font-size: 25px;
	padding: 10px 10%;
	margin: 10px;
}

.social-media i:hover {
	color: #cccccc;
}




